@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, #app-loading {
  height: 100%;
}

#app,
#app-loading {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#app {
  @apply bg-gray-900 text-white;
}